* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  max-height: 100vh;
}

.side-bar-container {
  height: 100vh;
}

.side-bar-header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}

h3 {
  font-size: 2rem;
}

.new-note {
  cursor: pointer;
  background-color: #4a4e74;
  border: none;
  color: white;
  border-radius: 2px;
  height: 40px;
  margin-left: 2rem;
  width: 40px;
}

.note {
  background-color: gray;
  padding: 2rem;
  color: white;
  text-align: left;
  border-bottom: white 5px solid;
}

.note:hover {
  cursor: pointer;
  background-color: black;
}

.gutter {
  background-color: #4a4e74;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.split {
  display: flex;
}

h3 {
  color: #4a4e74;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
}

.empty button {
  padding: 1rem;
  background-color: #4a4e74;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 2rem;
  border-radius: 10px;
}

.selected-note {
  background-color: #4a4e74;
  padding: 2rem;
  color: white;
  text-align: left;
  border-bottom: white 5px solid;
}

.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  cursor: pointer;
  transform: scale(var(--ggs, 1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
}

.gg-trash::after,
.gg-trash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px;
}

.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px;
}

.delete-btn {
  outline: none;
  margin: none;
}
